{% extends "base.html" %}
{% load i18n %}

{% block content %}


<div class="row justify-content-center">
  <div class="col-md-9">
    <div class="conteinar mb-5">
      <div class="col-12 ">
        <h3 class="site-section-heading text-center">{% trans "About me" %}</h3>
      </div>
      <div class="text-justify">
        <div class="col-lg">
          <br>
          <br>
          <h5>{% trans "Ladies and Gentlemen!" %}<h5>
          <br>
          <h5>{% trans "I collect painted and drawn art because I need to surround myself with objects that sometimes make life seem warmer and more beautiful than I perceive it at a given time." %}</h5>
          <br>
          <h5>{% trans "Collecting my passion also provides aesthetic experiences, which I also want to share with you .. mentioning not only the items themselves and the emotions associated with them." %}</h5>
          <br>
          <h5>{% trans "I am happy to buy paintings, graphics and other interesting items, exhibits not necessarily museums." %}</h5>
          <br>
          <h5>{% trans "Passion, of course, is priceless; however, it absorbs time beyond what I spend on work .. and it certainly absorbs all the resources, even those allocated for something else. Perhaps it is also some kind of addiction because I cannot explain to myself that no object is worth losing yourself on the way to its acquisition ..." %}</h5>
          <br>
          <h5>{% trans "To cultivate my passion, I will also gladly sell individual items or parts of the collection." %}</h5>
          <br>
          <h5>{% trans "Details, as usual in private correspondence." %}</h5>
        </div>

      </div>
    </div>
  </div>
</div>




{% endblock %}